# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SPT_Labs\Lab1-BinaryTree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
